.footer {
  background-color: $primary_100;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow_main;

  .text {
    color: $primary_700;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}
