.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.heading {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: bold;
  color: $gray-950;
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}