.topbar {
  top: 0;
  z-index: 99999;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 2px solid $border;
  position: sticky;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;
  &:hover {
    color: $primary_800;
    transition: all 0.3s ease-out;
  }
}
.small {
  display: none;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .topbar {
    padding: 20px;
  }
  .navigation {
    display: none;
  }

  .rightSide {
    display: none;
  }

  .small {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    background-color: $primary_50;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .small_btn {
    margin-top: 30px;
  }
  .toggle {
    display: block;
  }
}
