.singleTodo {
    margin: 1px ;
    background-color: "lightgray";
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    align-items: center;
    border: 3px red solid;
  }
  
  .todoText {
    font-size: 18px;
    font-weight: 500;
    color: gray;
  }
  
  .todoGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .checkbox {
    width: 18px;
    height: 18px;
  }
  .lineThrough {
    text-decoration: line-through;
  }
  