.btn {
    border: none;
    padding: 10px 14px;
    border-radius: 3px;
    margin: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    text-transform: uppercase;
    font-weight: 600;
   
  }
  .btn:hover{
    opacity: 0.8;
  }