.card {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &_photo {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }

  p {
    font-size: 14px;
    color: $gray-400;
    font-weight: 600;
  }

  &_business_name {
    font-size: 16px;
    color: $gray-950;
    font-weight: bold;
  }

  &_contact_person {
    color: $primary_500;
    font-weight: 600;
    font-size: 14px;
  }

  &_date_time {
    font-size: 14px;
    color: $gray-950;
    font-weight: 500;
  }

  &_icon {
    color: $primary_600;
  }
}

.row_group {
  display: flex;
  align-items: center;
  gap: 10px;
}
