$primary_50: #f5f3ff;
$primary_100: #ede9fe;
$primary_200: #ddd6fe;
$primary_300: #c4b5fd;
$primary_400: #a78bfa;
$primary_500: #8b5cf6;
$primary_600: #7c3aed;
$primary_700: #6d28d9;
$primary_800: #5b21b6;
$primary_900: #4c1d95;


$white: #ffffff;
$border: #ccc;

$sky_300: #7dd3fc;
$blue_400: #60a5fa;
$fuchsia_500: #d946ef;

$shadow_main: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow_primary: rgb(145, 27, 145) 0px 5px 15px;